/* sass */

/* Mixin to set the aspect ratio of video containers */

@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  } 
}


/* Media Privacy Container */

.media-privacy__wrapper,
.media-privacy__wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.media-privacy__wrapper {

  // Container dimensions
  // default aspect ratio is 16:9
  @include aspect-ratio(16,9);

  overflow: hidden;
  background-color: #CCC;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width:100%;
  border: solid 1px #CCC; // !important;
}


/* Preview image incl. play Icon and hint text */
.media-privacy__preview {
  display: block;
  overflow: hidden;
  position: absolute;
  width:100%;
  height: 100%;

  &.hide-preview {
    display: none;
  }
}


.media-privacy__preview__content {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../media_privacy_video/images/play.svg");
  background-position: center center;
  
  // size of play button
  background-size: 80px;

  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  text-align: center;
}

.media-privacy__preview__text {
  background: aquamarine;
  padding: .5em;
  max-width: 80%;
  margin: 0 auto;
  width: 80%;
  display: block;
}


/* Overlay, displayed on hover or touch */

.media-privacy__overlay {
  display: none;

  &.show-overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    // dimm preview image for more focus
    background: rgba(0,0,0, 0.15);

    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}

.media-privacy__overlay__content {

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  text-align: center;

  overflow-y: scroll;

  min-width: 70%;
  min-height: 70%;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;

  @media screen and (min-width: 600px) {
    min-height: 50%;
    max-width: 80%;
  }
  
  margin: 0 auto;
  align-self: center;
  background: white;
  border: solid 2px #000;
  padding: .5em 1em;
}

.media-privacy__overlay__link {
  font-size: 125%;
  font-weight: bold;
}

.media-privacy__overlay__text {}